.lead {
    display: flex;
    flex-direction: column;
    margin: 56px auto 0; 
    width: calc(100% - 148px*2);
}

@media screen and (max-width: 1024px){
    .lead {
        width: calc(100% - 48px*2);
    }
}

@media screen and (max-width: 768px){
    .lead {
        margin: 48px auto 0;
        width: 100%;
    }
}