.intro__list-item {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    margin: 0 0 0;
}

@media screen and (max-width: 768px){
    .intro__list-item {
        font-size: 1.56vw;
    }
}

@media screen and (max-width: 550px){
    .intro__list-item {
        font-size: 3.75vw;
    }
}