.cover__title {
    max-width: 560px;
    margin: 0 auto 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    color: #FFFFFF;
    text-align: center;
}


@media screen and (max-width: 768px){
    .cover__title {
        max-width: 72.82%;
        font-size: 9.375vw;
    }
}

@media screen and (max-width: 550px){
    .cover__title {
        max-width: 90%;
        font-size: 10vw;
        line-height: 109%;
    }
}