.footer__list {
    margin: 0 0 0;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

@media screen and (max-width: 320px){
    .footer__list {
        flex-direction: column;
        gap: 10vw;
    }
}