.intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    color: #fff;
    margin: 0 0 0;
}


@media screen and (max-width: 768px){
    .intro__title {
        font-size: 7vw;
    }
}

@media screen and (max-width: 320px){
    .intro__title {
        font-size: 10vw;
    }
}